<template>
<main>
    <h1>Управление книгами</h1>
    <section class="books">

        <div class="container">
            <div class="col-md-12">
                <div class="books__actions">
                    <a
                        href="#"
                        class="btn btn-primary"
                        role="button"
                        aria-pressed="true"
                        data-toggle="modal"
                        data-target="#createBookModal"
                    >
                        Добавить книгу
                    </a>

                    <div class="float-right search btn-group">
                        <input
                            class="form-control search-input"
                            type="text"
                            placeholder="Поиск"
                            autocomplete="off"
                            v-model="search"
                            v-on:input="checkSearchInput"
                            v-on:keyup.enter="searchBooks"
                        >
                    </div>
                </div>

                <div class="table-responsive">
                    <table
                        class="books__list table table-bordered table-hover"
                        v-if="books.length > 0"
                    >
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Название</th>
                                <th scope="col">Автор</th>
                                <th scope="col">Жанр</th>
                                <th scope="col">Издатель</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="book in books"
                                v-bind:key="book.id"
                            >
                                <th>{{ book.id }}</th>
                                <td>{{ book.name }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.genre }}</td>
                                <td>{{ book.publisher }}</td>
                                <td>{{ book.books_reserve === null ? 'Доступна' : book.books_reserve.issued === 0 ? 'Зарезервирована' : 'Выдана' }}</td>
                                <td class="edit">
                                    <a
                                        href="#"
                                        class="btn btn-primary btn-sm mb-2"
                                        role="button"
                                        aria-pressed="true"
                                        data-toggle="modal"
                                        data-target="#takeBookModal"
                                        :data-book-id="book.id"
                                        :data-user-id="book.books_reserve.user_id"
                                        v-if="book.books_reserve !== null && book.books_reserve.issued === 1"
                                        v-on:click.prevent="onModalOpen"
                                    >Принять книгу</a>
                                    <a
                                        href="#"
                                        class="btn btn-primary btn-sm mb-2"
                                        role="button"
                                        aria-pressed="true"
                                        data-toggle="modal"
                                        data-target="#issueBookModal"
                                        :data-book-id="book.id"
                                        :data-user-id="book.books_reserve.user_id"
                                        v-if="book.books_reserve !== null && book.books_reserve.issued === 0"
                                        v-on:click.prevent="onModalOpen"
                                    >Выдать книгу</a>
                                    <a
                                        href="#"
                                        class="btn btn-danger btn-sm mb-2"
                                        role="button"
                                        aria-pressed="true"
                                        :data-id="book.id"
                                        v-if="book.books_reserve === null"
                                        v-on:click.prevent="deleteBook(book.id)"
                                    >Удалить книгу</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else>0 книг</div>
                </div>
                <div v-if="books.length > 0">
                    <pagination
                        v-model="booksPagination.current_page"
                        :page-count="booksPagination.last_page"
                        :click-handler="updateBooks"
                        :prev-text="'«'"
                        :next-text="'»'"
                        :container-class="'pagination'"
                        :page-class="'page-item'"
                        :page-link-class="'page-link'"
                        :prev-link-class="'page-link'"
                        :next-link-class="'page-link'">
                    </pagination>
                </div>
            </div>
        </div>

        <create-book-form
            v-on:create-book='onCreateBook'
        ></create-book-form>

        <issue-book-form
            v-on:issue-book='onIssueBook'
            v-bind:selected-book='selectedBook'
            v-bind:selected-user='selectedUser'
        ></issue-book-form>

        <take-book-form
            v-on:take-book='onTakeBook'
            v-bind:selected-book='selectedBook'
            v-bind:selected-user='selectedUser'
        ></take-book-form>

    </section>
</main>

</template>

<script>
import Pagination from 'vuejs-paginate';
import CreateBookForm from '../CreateBookForm';
import issueBookForm from '../IssueBookForm';
import takeBookForm from '../TakeBookForm';

export default {
    components: {
        Pagination,
        CreateBookForm,
        issueBookForm,
        takeBookForm,
    },
    data: function() {
        return {
            books: [],
            booksPagination: [],
            search: '',
            selectedBook: {},
            selectedUser: {}
        }
    },
    created: function () {
        this.getBooks();
    },
    methods: {
        getBooks: function (page = 1) {
            axios
                .get('/api/books?page=' + page)
                .then((response) => {
                    this.books = response.data.data;
                    this.booksPagination = response.data.meta;
                    this.isSearchList = false;
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },

        searchBooks: function (page = 1) {
            if (this.search !== '') {
                axios
                    .post('/api/books/search?page=' + page, {
                        search: this.search
                    })
                    .then((response) => {
                        this.books = response.data.data;
                        this.booksPagination = response.data.meta;
                        this.isSearchList = true;
                    })
                    .catch((error) => {
                        //this.errors = error.response.data.errors;
                    });
            }
        },

        checkSearchInput: function () {
            if (this.search === '') {
                this.getBooks();
            }
        },

        updateBooks: function (page = 1) {
            if (this.isSearchList) {
                this.searchBooks(page);
            } else {
                this.getBooks(page);
            }
        },

        deleteBook: function (bookId) {
            axios
                .post("/api/librarian/books/destroy?token=" + this.$store.state.user.token, {
                    id: bookId,
                })
                .then((response) => {
                    if (response.data.success) {
                        this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                        });
                        this.updateBooks();
                    } else {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: response.data.message
                        });
                    }
                })
                .catch((error) => {
                });
        },

        onModalOpen: function (event) {
            let bookId = parseInt(event.currentTarget.dataset.bookId);
            let bookIndex = this.books.findIndex(book => book.id === bookId);
            this.selectedBook = this.books[bookIndex];

            let userId = parseInt(event.currentTarget.dataset.userId);
            this.selectedUser = userId;
        },

        onCreateBook: function() {
            this.updateBooks(this.booksPagination.current_page);
        },

        onIssueBook: function() {
            this.updateBooks(this.booksPagination.current_page);
        },

        onTakeBook: function() {
            this.updateBooks(this.booksPagination.current_page);
        },
    },
};
</script>
