<template>
    <main>
        <h1>Библиотека</h1>
        <section class="library">
            <div class="library__search">
                <div class="container">
                    <div class="col-md-12">
                        <div class="library__search-bar">
                            <input
                                class="library__search-input"
                                type="text"
                                name="search"
                                placeholder="Поиск книг... (По названию, автору, жанру, издателю)"
                                v-model="search"
                                v-on:input="checkSearchInput"
                            >
                            <a
                                href="#"
                                class="library__search-icon"
                                v-on:click.prevent="searchBooks(1)"
                            ><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="library__list">
                <div class="container">
                    <div class="col-md-12">
                        <div
                            class="library__list-wrapper"
                            v-if="books.length > 0"
                        >
                            <div
                                class="library__item"
                                v-for="book in books"
                                v-bind:key="book.id"
                            >
                                <div class="library__item-info">
                                    <div class="library__item-info-top">
                                        <span class="library__item-title">
                                            <router-link :to="{ path: '/book/' + book.id}">{{ book.name }}</router-link>
                                        </span>
                                    </div>
                                    <div class="library__item-info-bottom">
                                        <span class="library__item-author">
                                            <strong>Автор:</strong>
                                            {{ book.author }}
                                        </span>
                                        <span class="library__item-genre">
                                            <strong>Жанр:</strong>
                                            {{ book.genre }}
                                        </span>
                                        <span class="library__item-publisher">
                                            <strong>Издатель:</strong>
                                            {{ book.publisher }}
                                        </span>
                                    </div>
                                </div>
                                <div
                                    class="library__item-actions"
                                    :class="book.books_reserve !== null ? 'library__item-actions--reserved' : ''"
                                >
                                    <a
                                        href="#"
                                        class="btn reserve-btn"
                                        role="button"
                                        aria-pressed="true"
                                        :data-book-id="book.id"
                                        v-if="book.books_reserve === null"
                                        v-on:click.prevent="reserveBook(book.id)"
                                    >
                                        Забронировать книгу
                                    </a>
                                    <div
                                        class="reserve-btn library__item-status"
                                        v-else
                                    >
                                        Недоступна до <small>{{ book.books_reserve.reserved_to }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="books.length > 0">
                            <pagination
                                v-model="booksPagination.current_page"
                                :page-count="booksPagination.last_page"
                                :click-handler="updateBooks"
                                :prev-text="'«'"
                                :next-text="'»'"
                                :container-class="'pagination'"
                                :page-class="'page-item'"
                                :page-link-class="'page-link'"
                                :prev-link-class="'page-link'"
                                :next-link-class="'page-link'">
                            </pagination>
                        </div>
                        <div
                            class="library__list-wrapper"
                            v-else
                        >
                            <h2>Нет результатов</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import Pagination from 'vuejs-paginate';

export default {
    components: {
        Pagination
    },
    data: function() {
        return {
            books: [],
            booksPagination: [],
            search: '',
            isSearchList: false,
        }
    },
    created: function () {
        this.getBooks();
    },
    methods: {
        getBooks: function (page = 1) {
            axios
                .get('/api/books?page=' + page)
                .then((response) => {
                    this.books = response.data.data;
                    this.booksPagination = response.data.meta;
                    this.isSearchList = false;
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },

        searchBooks: function (page = 1) {
            axios
                .post('/api/books/search?page=' + page, {
                    search: this.search
                })
                .then((response) => {
                    this.books = response.data.data;
                    this.booksPagination = response.data.meta;
                    this.isSearchList = true;
                })
                .catch((error) => {
                    //this.errors = error.response.data.errors;
                });
        },

        checkSearchInput: function () {
            if (this.search === '') {
                this.getBooks();
            }
        },

        updateBooks: function (page = 1) {
            if (this.isSearchList) {
                this.searchBooks(page);
            } else {
                this.getBooks(page);
            }
        },

        reserveBook: function (bookId) {
            axios
                .post('/api/customer/reserve_book?token=' + this.$store.state.user.token, {
                    book_id: bookId
                })
                .then((response) => {
                    if (response.data.success) {
                        let index = this.books.findIndex(book => book.id === bookId);
                        this.books[index].books_reserve = response.data.booksReserve;
                        this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                        });
                    } else {
                        // show response.data.message
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: response.data.message
                        });
                    }
                })
                .catch((error) => {
                    if (error.response.status == 401) {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: 'Для резервирования книг необходимо войти в систему'
                        });
                    } else {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: error.response.data.errors.message[0]
                        });
                    }
                });
        },

    }

}
</script>
