<template>
    <main>
        <section class="library">

            <div class="library__list">
                <div class="container">
                    <div class="col-md-12">
                        <div
                            class="library-detail__list-wrapper"
                            v-if="book !== null"
                        >
                            <div class="library-detail__item">
                                <div class="library-detail__item-info">
                                    <div class="library-detail__item-info-left">
                                        <div class="library-detail__item-photo">
                                            <img src="https://image.freepik.com/free-psd/white-book-standing-white-surface-mockup_117023-1349.jpg">
                                        </div>
                                    </div>
                                    <div class="library-detail__item-info-right">
                                        <div class="library-detail__item-info-top">
                                            <span class="library-detail__item-title">
                                                {{ book.name }}
                                            </span>
                                        </div>
                                        <div class="library-detail__item-info-bottom">
                                            <span class="library-detail__item-author">
                                                <strong>Автор:</strong>
                                                {{ book.author }}
                                            </span>
                                            <span class="library-detail__item-genre">
                                                <strong>Жанр:</strong>
                                                {{ book.genre }}
                                            </span>
                                            <span class="library-detail__item-publisher">
                                                <strong>Издатель:</strong>
                                                {{ book.publisher }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="library__item-actions"
                                    :class="book.books_reserve !== null ? 'library__item-actions--reserved' : ''"
                                >
                                    <a
                                        href="#"
                                        class="btn reserve-btn"
                                        role="button"
                                        aria-pressed="true"
                                        :data-book-id="book.id"
                                        v-if="book.books_reserve === null"
                                        v-on:click.prevent="reserveBook"
                                    >
                                        Забронировать книгу
                                    </a>
                                    <div
                                        class="reserve-btn library__item-status"
                                        v-else
                                    >
                                        Недоступна до <small>{{ book.books_reserve.reserved_to }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="library-detail__item-comments comments">
                                <h2 class="comments__title">
                                    Оценки и отзывы:
                                </h2>
                                <div
                                    class="comments__list"
                                    v-if="book.comments !== undefined && book.comments.length"
                                >
                                    <div
                                        class="comments__item"
                                        v-for="comment in book.comments"
                                        v-bind:key="comment.id"
                                    >
                                        <div class="comments__item-commenter">
                                            <div class="comments__commenter-name">
                                                Отзыв от: {{ comment.user.name }} {{ comment.user.surname }}
                                            </div>
                                            <div class="comments__commenter-rating">
                                                <img width="24" height="24" src="https://image.flaticon.com/icons/svg/3004/3004112.svg">
                                                <span class="comments__commenter-rating-value">{{ comment.rating }} / 5</span>
                                            </div>

                                        </div>

                                        <div class="comments__item-text">
                                            {{ comment.text }}
                                        </div>

                                    </div>
                                </div>
                                <div
                                    class="comments__list--empty"
                                    v-else
                                >
                                    Нет отзывов
                                </div>

                                <create-comment-form
                                    v-on:create-comment='onCommentCreated'
                                    v-bind:selected-book-id='book.id'
                                ></create-comment-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import CreateCommentForm from '../CreateCommentForm';

export default {
    components: {
        CreateCommentForm
    },
    data: function() {
        return {
            book: null,
        }
    },
    // watch: {
    //     $route(to, from) {
    //         console.log(from);
    //         //this.getBook(this.$route.params.id);
    //     }
    // },
    created: function () {
        this.getBook(this.$route.params.id);
    },
    methods: {
        getBook: function (id) {
            axios
                .get('/api/books/' + id)
                .then((response) => {
                    this.book = response.data;
                })
                .catch((error) => {
                    this.$router.push({name: 'LibraryBooks'});
                    this.$notify({
                        group: 'main',
                        type: 'warn',
                        title: 'Ошибка',
                        text: 'Книга не найдена.'
                    });
                });
        },

        reserveBook: function () {
            axios
                .post('/api/customer/reserve_book?token=' + this.$store.state.user.token, {
                    book_id: this.book.id
                })
                .then((response) => {
                    if (response.data.success) {
                        this.book.books_reserve = response.data.booksReserve;
                        this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                        });
                    } else {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: response.data.message
                        });
                    }
                })
                .catch((error) => {
                    if (error.response.status == 401) {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: 'Для резервирования книг необходимо войти в систему'
                        });
                    } else {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: error.response.data.errors.message[0]
                        });
                    }
                });
        },

        onCommentCreated: function (payload) {
            this.book.comments.push(payload.comment);
        }
    }

}
</script>
