<template>
    <main>
        <div class="container">
            <h1>Вход</h1>
            <div class="login">

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <form v-on:submit.prevent="login">
                                <div
                                    class="errors"
                                    v-if="errors"
                                >
                                    <div
                                        v-for="(v, k) in errors" :key="k"
                                    >
                                        <div
                                            class="alert alert-danger alert-dismissible"
                                            role="alert"
                                            v-for="error in v" :key="error"
                                        >
                                            {{ error }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="emailInput">Почта</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="emailInput"
                                        v-model="email"
                                        >
                                </div>
                                <div class="form-group">
                                    <label for="passwordInput">Пароль</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="passwordInput"
                                        v-model="password"
                                        >
                                </div>
                                <button type="submit" class="btn btn-primary">Войти</button>
                            </form>

                            <div class="mt-3"><router-link to="/register">Нет аккаунта? Зарегистрироваться.</router-link></div>
                        </div>
                    </div>

            </div>
        </div>
    </main>
</template>

<script>

export default {
    data: function () {
        return {
            email: '',
            password: '',
            errors: Array,
        }
    },
    mounted: function() {
    },
    methods: {
        login: function () {
            axios
                .post('/api/auth/login', {
                    email: this.email,
                    password: this.password,
                })
                .then((response) => {
                    this.$store.commit('loginUser', {data: response.data});
                })
                .catch((error) => {
                    if (error.response.status == 401) {
                        this.errors = {message: [error.response.data.message]};
                    }
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
        }
    }
}
</script>
