<template>
    <main>
        <div class="container">
            <h1>Регистрация</h1>
            <div class="register">

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <form v-on:submit.prevent="register">
                                <div
                                    class="errors"
                                    v-if="errors"
                                >
                                    <div
                                        v-for="(v, k) in errors" :key="k"
                                    >
                                        <div
                                            class="alert alert-danger alert-dismissible"
                                            role="alert"
                                            v-for="error in v" :key="error"
                                        >
                                            {{ error }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class=" col-form-label ">Имя</label>

                                    <div class="">
                                        <input id="name" type="text" class="form-control" name="name" required autocomplete="name" autofocus
                                            v-model="name"
                                        >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="surname" class=" col-form-label ">Фамилия</label>

                                    <div class="">
                                        <input id="surname" type="text" class="form-control" name="surname" required autocomplete="surname" autofocus
                                            v-model="surname"
                                        >
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="email" class=" col-form-label ">Почта</label>

                                    <div class="">
                                        <input id="email" type="email" class="form-control " name="email" required autocomplete="email"
                                            v-model="email"
                                        >
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="password" class=" col-form-label ">Пароль</label>

                                    <div class="">
                                        <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password"
                                            v-model="password"
                                        >
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="password-confirm" class=" col-form-label ">Подтверждение пароля</label>

                                    <div class="">
                                        <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password"
                                            v-model="passwordConfirmation"
                                        >
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>

            </div>
        </div>
    </main>
</template>

<script>

export default {
    data: function () {
        return {
            name: '',
            surname: '',
            email: '',
            password: '',
            passwordConfirmation: '',
            errors: [],
        }
    },
    methods: {
        register: function () {
            axios
                .post('/api/auth/register', {
                    name: this.name,
                    surname: this.surname,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.passwordConfirmation,
                })
                .then((response) => {
                    this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                    });
                    this.$router.push({name: 'Login'});
                })
                .catch((error) => {
                    if (error.response.status == 401) {
                        this.errors = {message: [error.response.data.message]};
                    }
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
        }
    }
}
</script>
