<template>
    <main>
        <h1>Зарезервированные книги</h1>
        <section class="library">
            <div class="library__list">
                <div class="container">
                    <div class="col-md-12">
                        <div
                            class="library__list-wrapper"
                            v-if="books.length > 0"
                        >
                            <div
                                class="library__item"
                                v-for="book in books"
                                v-bind:key="book.id"
                            >
                                <div class="library__item-info">
                                    <div class="library__item-info-top">
                                        <span class="library__item-title">
                                            {{ book.name }}
                                        </span>
                                    </div>
                                    <div class="library__item-info-bottom">
                                        <span class="library__item-author">
                                            <strong>Автор:</strong>
                                        {{ book.author }}
                                        </span>
                                            <span class="library__item-genre">
                                            <strong>Жанр:</strong>
                                            {{ book.genre }}
                                        </span>
                                        <span class="library__item-publisher">
                                            <strong>Издатель:</strong>
                                            {{ book.publisher }}
                                        </span>
                                    </div>
                                    <span>Зарезервированна до: {{ book.books_reserve.reserved_to }}</span>
                                </div>
                                <div class="library__item-actions">
                                    <a
                                        href="#"
                                        class="btn reserve-btn"
                                        role="button"
                                        aria-pressed="true"
                                        :data-book-id="book.id"
                                        v-on:click.prevent="withdrawReserve"
                                    >Снять бронь</a>
                                </div>
                            </div>
                        </div>
                        <div
                            class="library__pagination"
                            v-if="books.length > 0"
                        >
                            <pagination
                                v-model="booksPagination.current_page"
                                :page-count="booksPagination.last_page"
                                :click-handler="updateBooks"
                                :prev-text="'«'"
                                :next-text="'»'"
                                :container-class="'pagination'"
                                :page-class="'page-item'"
                                :page-link-class="'page-link'"
                                :prev-link-class="'page-link'"
                                :next-link-class="'page-link'">
                            </pagination>
                        </div>
                        <div
                            class="library__list-wrapper"
                            v-else
                        >
                            <h2>Нет результатов</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import Pagination from 'vuejs-paginate';

export default {
    components: {
        Pagination
    },
    data: function() {
        return {
            books: [],
            booksPagination: [],
        }
    },
    created: function () {
        this.getReservedBooks();
    },
    methods: {
        getReservedBooks: function (page = 1) {
            axios
                .get('/api/customer/reserved_books?'
                    + 'token=' + this.$store.state.user.token
                    + '&page=' + page
                )
                .then((response) => {
                    this.books = response.data.data;
                    this.booksPagination = response.data.meta;
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },

        updateBooks: function (page = 1) {
            this.getReservedBooks(page);
        },

        withdrawReserve: function (event) {
            let bookId = parseInt(event.currentTarget.dataset.bookId);
            axios
                .post('/api/customer/withdraw_reserve?token=' + this.$store.state.user.token, {
                    book_id: bookId
                })
                .then((response) => {
                    if (response.data.success) {
                        let index = this.books.findIndex(book => book.id === bookId);
                        this.books.splice(index, 1);
                        this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                        });
                    } else {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: response.data.message
                        });
                    }
                })
                .catch((error) => {
                });
        },
    }

}
</script>
