<template>
    <main>
        <h1>Управление пользователями</h1>
        <section class="users">
            <div class="container">
                <div class="col-md-12">
                    <div class="users__actions">
                        <a
                            href="#"
                            class="btn btn-primary"
                            role="button"
                            aria-pressed="true"
                            data-toggle="modal"
                            data-target="#createUserModal"
                        >
                            Добавить пользователя
                        </a>

                        <div class="float-right search btn-group">
                            <input
                                class="form-control search-input"
                                type="text"
                                placeholder="Поиск по имени, почте"
                                autocomplete="off"
                                v-model="search"
                                v-on:input="checkSearchInput"
                                v-on:keyup.enter="searchUsers"
                            >
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table
                            class="users__list table table-bordered table-hover"
                            v-if="users.length > 0"
                        >
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Почта</th>
                                    <th scope="col">Роль</th>
                                    <th scope="col">Редактирование</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="user in users"
                                    v-bind:key="user.id"
                                >
                                    <th>{{ user.id }}</th>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role.name }}</td>
                                    <td class="edit">
                                        <a
                                            href="#"
                                            class="btn btn-primary btn-sm mb-2"
                                            role="button"
                                            aria-pressed="true"
                                            data-toggle="modal"
                                            :data-user-id="user.id"
                                            data-target="#changeUserPasswordModal"
                                            v-on:click="onModalOpen"
                                        >
                                            Изменить пароль
                                        </a>
                                        <a
                                            href="#"
                                            class="btn btn-danger btn-sm mb-2"
                                            role="button"
                                            aria-pressed="true"
                                            :data-user-id="user.id"
                                            v-on:click.prevent="deleteUser(user.id)"
                                        >
                                            Удалить пользователя
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div v-else>Список пуст</div>
                    </div>
                    <div v-if="users.length > 0">
                        <pagination
                            v-model="usersPagination.current_page"
                            :page-count="usersPagination.last_page"
                            :click-handler="updateUsers"
                            :prev-text="'«'"
                            :next-text="'»'"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link'"
                            :prev-link-class="'page-link'"
                            :next-link-class="'page-link'">
                        </pagination>
                    </div>
                </div>
            </div>

            <create-user-form
                v-on:create-user='onCreateUser'
            ></create-user-form>

            <change-user-password-form
                v-bind:selected-user-id="selectedUserId"
            ></change-user-password-form>



        </section>
    </main>
</template>

<script>
import Pagination from 'vuejs-paginate';
import CreateUserForm from '../CreateUserForm';
import ChangeUserPasswordForm from '../ChangeUserPasswordForm';

export default {
    components: {
        Pagination,
        CreateUserForm,
        ChangeUserPasswordForm
    },
    data: function() {
        return {
            users: [],
            usersPagination: [],
            search: '',
            isSearchList: false,
            selectedUserId: 0
        }
    },
    created: function () {
        this.getUsers();
    },
    methods: {
        getUsers: function (page = 1) {
            axios
                .get('/api/users?page=' + page + '&token=' + this.$store.state.user.token)
                .then((response) => {
                    this.users = response.data.data;
                    this.usersPagination = response.data.meta;
                    this.isSearchList = false;
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
        searchUsers: function (page = 1) {
            if (this.search !== '') {
                axios
                    .post('/api/users/search?page=' + page + '&token=' + this.$store.state.user.token, {
                        search: this.search
                    })
                    .then((response) => {
                        this.users = response.data.data;
                        this.usersPagination = response.data.meta;
                        this.isSearchList = true;
                    })
                    .catch((error) => {
                        console.log(error.response.data.errors);
                    });
            }
        },

        checkSearchInput: function () {
            if (this.search === '') {
                this.getUsers();
            }
        },

        updateUsers: function (page = 1) {
            if (this.isSearchList) {
                this.searchUsers(page);
            } else {
                this.getUsers(page);
            }
        },

        deleteUser: function (userId) {
            axios
                .delete("/api/users/" + userId + "?token=" + this.$store.state.user.token)
                .then((response) => {
                    if (response.data.success) {
                        this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                        });
                        this.updateUsers(this.usersPagination.current_page);
                    } else {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: response.data.message
                        });
                    }
                })
                .catch((error) => {
                    this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: error.response.data.errors.id[0]
                    });
                });
        },

        onModalOpen: function (event) {
            let userId = parseInt(event.currentTarget.dataset.userId);
            this.selectedUserId = userId;
        },

        onCreateUser: function () {
            this.updateUsers(this.usersPagination.current_page);
        },
    }
}
</script>
