html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    padding: 64px 0 70px 0;
    //color: #333333;
    color: #56565e;
    background-color: #f5f6fa;
}
main {
    padding: 30px 0;
}
h1 {
    text-align: center;
    // margin: 1rem 0;
    margin: 0 0 30px 0;
}
table {
    background-color: #fcfcfc;
}

.vue-notification-group {
    top: 63px;
    right: 20px;
}

.app-notifications {
    padding: 10px;
    margin: 5px;

    font-size: 0.7rem;

    color: #ffffff;
    background: #44A4FC !important;
    border-left: 5px solid #187FE7  !important;

    .notification-title {
        font-weight: 400;
    }

    &.warn {
        background: #ffb648 !important;
        border-left-color: #f48a06  !important;
    }

    &.error {
        background: #E54D42;
        border-left-color: #B82E24  !important;
    }

    &.success {
        background: #68CD86  !important;
        border-left-color: #42A85F  !important;
    }
}
