.comments__list--empty {
    padding: 20px 20px;
    font-size: 1.1rem;
}
.comments__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px 20px;
    flex-wrap: wrap;
    border: 2px solid #E1E4E6;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fcfcfc;
    transition: top 1s ease-out 0.5s;
    cursor: default;
}
.comments__item-commenter {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.comments__commenter-name {
    font-weight: 700;
}

.comments__form {
    background-color: #fcfcfc;
    padding: 10px 20px;
    border: 2px solid #E1E4E6;
    border-radius: 10px;
}
.comments__form--unauthorized {
    text-align: center;
    font-size: 1.1rem;
}
.comments__form-title {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 700;
}
