.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
