.header {
    background-color: #f0f0f0;
}
.header__logo {
    align-self: center;
    padding: 0.5rem 1rem;
}
.header__logo a {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.header__nav {
    flex: 1 1 auto;
}
.header__navbar {
    justify-content: flex-end;
}
.header__navbar .dropdown-menu {
    background-color: #f0f0f0;
}
.header__navbar-item a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.1rem;
}
