.library-detail__item {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border: 2px solid #3490dc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fcfcfc;
    transition: top 1s ease-out 0.5s;
    cursor: default;
}
.library-detail__item-photo {

}
.library-detail__item-photo img {
    max-width: 100%;
    width: 300px;
}
.library-detail__item-info {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-right: none;
}
.library-detail__item-info-left {
    margin: 10px;
}
.library-detail__item-info-right {
    margin: 10px;
}
.library-detail__item-info-top {
    display: flex;
}
.library-detail__item-title {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.library-detail__item-info-bottom {
    display: flex;
    flex-direction: column;
}
.library-detail__item-info-bottom > span {
    display: inline-block;
    font-size: 1rem;
    padding: 5px 0px;
}
.library-detail__item-actions {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    min-width: 300px;
    align-items: center;
    background-color: #3490dc;
    border-left: none;
}
.library-detail__item-actions .reserve-btn {
    height: auto;
    font-size: 1.3rem;
    width: 100%;
    padding: 32px 20px;
    text-align: center;
    color: #fff;
}
.library-detail__item-actions .library__item-status {
    /*font-size: 1.1rem;*/
}
.library-detail__item-actions.library__item-actions--reserved {
    background-color: #dfe3e4;
}
