.library__search {
    padding: 50px 0;
    background-color: #6574cd;
}
.library__search-bar {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #fcfcfc;
    border-radius: 30px;
    padding: 10px;
}
.library__search-input{
    padding: 0 20px;
    font-size: 1.5rem;
    color: #353b48;
    border: 0;
    outline: 0;
    background: none;
    width: 100%;
    caret-color: #6574cd;
    line-height: 40px;
}
.library__search-bar:hover > .library__search-icon{
    background: #353b48;
    color: #ffffff;
}
.library__search-icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #353b48;
    text-decoration:none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.library__list-wrapper {
    margin: 10px 0;
}
.library__item {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border: 2px solid #E1E4E6;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fcfcfc;
    transition: top 1s ease-out 0.5s;
    cursor: default;
}
.library__item:hover {
    border: 2px solid #3490dc;
}
.library__item-info {
    flex: 1 1 70%;
    padding: 10px 20px;
    border-right: none;
}
.library__item-info-top {
    display: flex;
}
.library__item-title {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.library__item-info-bottom {
    display: flex;
    @media all and (max-width: 768px) {
        flex-direction: column;
    }
}
.library__item-info-bottom > span {
    display: inline-block;
    font-size: 1rem;
    padding: 5px 4px;
    @media all and (max-width: 768px) {
        padding: 0;
    }
}
.library__item-info-bottom > span:first-child {
    padding-left: 0;
}
.library__item-actions {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-width: 300px;
    align-items: center;
    background-color: #3490dc;
    border-left: none;
}
.library__item-actions .reserve-btn {
    height: auto;
    font-size: 1.3rem;
    width: 100%;
    padding: 32px 20px;
    text-align: center;
    color: #fff;
}
.library__item-actions .library__item-status {
    /*font-size: 1.1rem;*/
}
.library__item-actions.library__item-actions--reserved {
    background-color: #dfe3e4;
}

.library__item-actions.library__item-actions--reserved .reserve-btn {
    color: #9799ac;
}

