<template>
    <header class="header fixed-top">
        <div class="header__body">
            <nav class="header__nav navbar navbar-expand-lg navbar-light">

                <div class="header__logo"><router-link to="/">Библиотека</router-link></div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header__navbar" aria-controls="header__navbar" aria-expanded="false" aria-label="Меню">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="header__navbar collapse navbar-collapse"
                    id="header__navbar"
                    v-if='!$store.state.user.isLoggedIn'
                >
                    <div class="header__navbar-item">
                        <router-link to="/">Главная</router-link>
                    </div>

                    <div class="header__navbar-item">
                        <router-link to="/login">Вход</router-link>
                    </div>
                </div>
                <div
                    class="header__navbar collapse navbar-collapse"
                    id="header__navbar"
                    v-if='$store.state.user.isLoggedIn'
                >
                    <div class="header__navbar-item">
                        <router-link to="/">Главная</router-link>
                    </div>

                    <div
                        class="header__navbar-item"
                        v-if="$store.state.user.info.role_id === 3"
                    >
                        <router-link to="/customer/reserved_books">Зарезервированные книги</router-link>
                    </div>

                    <div
                        class="header__navbar-item"
                        v-if="$store.state.user.info.role_id === 2"
                    >
                        <router-link to="/librarian/books">Управление книгами</router-link>
                    </div>

                    <div
                        class="header__navbar-item"
                        v-if="$store.state.user.info.role_id === 1"
                    >
                        <router-link to="/admin/users">Управление пользователями</router-link>
                    </div>

                    <div class="header__navbar-item">
                        <a href="/logout" v-on:click.prevent="logout">Выход</a>
                    </div>
                </div>
            </nav>

        </div>
    </header>
</template>

<script>
export default {
    methods: {
        logout: function () {
            axios
                .post('/api/auth/logout?token=' + this.$store.state.user.token)
                .then(response => {
                    if(response.data.success == true){
                        this.$store.commit('logoutUser');
                    }
                })
                .catch(error => {
                });
        }
    }
}
</script>
