<template>
    <div id="app">
        <notifications
            group="main"
            classes="app-notifications"
        />

        <app-header></app-header>

        <router-view></router-view>

        <footer class="footer">
            Copyright © Библиотека 2020.
        </footer>
    </div>
</template>

<script>
import AppHeader from './layout/Header';

export default {
    mounted: function () {
        console.log('app mounted');
    },
    components: {
        AppHeader,
    }
}
</script>
