<template>
    <div class="modal fade" id="changeUserPasswordModal" tabindex="-1" role="dialog" aria-labelledby="changeUserPasswordModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form
                    v-on:submit.prevent="changeUserPassword"
                >

                    <div class="modal-header">
                        <h4 class="modal-title">Смена пароля</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        <div
                            class="errors"
                            v-if="errors"
                        >
                            <div
                                v-for="(v, k) in errors" :key="k"
                            >
                                <div
                                    class="alert alert-danger alert-dismissible"
                                    role="alert"
                                    v-for="error in v" :key="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="changeUserPasswordUserId" class="form-control-label">Клиент:</label>
                            <input
                                id="changeUserPasswordUserId"
                                class="form-control"
                                type="text"
                                disabled
                                v-model="userInfo">
                        </div>

                        <div class="form-group">
                            <label for="changeUserPasswordPassword" class="form-control-label">Новый Пароль *:</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                id="changeUserPasswordPassword"
                                v-model="newPassword"
                            >
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Изменить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        selectedUserId: 0,
    },
    data: function () {
        return {
            userId: this.selectedUserId,
            user: {},
            newPassword: '',
            errors: []
        }
    },
    watch: {
        selectedUserId: function (updatedUserId) {
            this.getUser(updatedUserId);
        }
    },
    computed: {
        userInfo: function () {
            return `${this.user.name} (${this.user.email})`;
        }
    },
    methods: {
        getUser: function (id) {
            axios
                .get('/api/users/'+id+'?token=' + this.$store.state.user.token)
                .then((response) => {
                    this.user = response.data.data;
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },

        changeUserPassword: function () {
            axios
                .post('/api/users/change_password?token=' + this.$store.state.user.token, {
                    id: this.user.id,
                    password: this.newPassword
                })
                .then((response) => {
                    $('#changeUserPasswordModal').modal('hide');
                    this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                    });
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        }
    },
}
</script>
