<template>
    <div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form
                    v-on:submit.prevent="createBook"
                >
                    <div class="modal-header">
                        <h4 class="modal-title">Новая книга</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        <div
                            class="errors"
                            v-if="errors"
                        >
                            <div
                                v-for="(v, k) in errors" :key="k"
                            >
                                <div
                                    class="alert alert-danger alert-dismissible"
                                    role="alert"
                                    v-for="error in v" :key="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="bookName" class="form-control-label">Название *:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                id="bookName"
                                v-model="name"
                            >
                        </div>

                        <div class="form-group">
                            <label for="bookAuthor" class="form-control-label">Автор *:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="author"
                                id="bookAuthor"
                                v-model="author"
                            >
                        </div>

                        <div class="form-group">
                            <label for="bookGenre" class="form-control-label">Жанр *:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="genre"
                                id="bookGenre"
                                v-model="genre"
                            >
                        </div>

                        <div class="form-group">
                            <label for="bookPublisher" class="form-control-label">Издатель *:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="publisher"
                                id="bookPublisher"
                                v-model="publisher"
                            >
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Создать">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            name: '',
            author: '',
            genre: '',
            publisher: '',
            errors: '',
        }
    },
    methods: {
        createBook: function() {
            axios
                .post('/api/librarian/books/store?token=' + this.$store.state.user.token, {
                    name: this.name,
                    author: this.author,
                    genre: this.genre,
                    publisher: this.publisher,
                })
                .then((response) => {
                    $('#createBookModal').modal('hide');
                    this.name = '';
                    this.author = '';
                    this.genre = '';
                    this.publisher = '';
                    this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                    });
                    this.$emit('create-book');
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        }
    },
}
</script>
