<template>
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form
                    v-on:submit.prevent="createUser"
                >
                    <div class="modal-header">
                        <h4 class="modal-title">Новый пользователь</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        <div
                            class="errors"
                            v-if="errors"
                        >
                            <div
                                v-for="(v, k) in errors" :key="k"
                            >
                                <div
                                    class="alert alert-danger alert-dismissible"
                                    role="alert"
                                    v-for="error in v" :key="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="userName" class="form-control-label">Имя *:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                id="userName"
                                v-model="name"
                            >
                        </div>

                        <div class="form-group">
                            <label for="userSurname" class="form-control-label">Фамилия *:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="surname"
                                id="userSurname"
                                v-model="surname"
                            >
                        </div>

                        <div class="form-group">
                            <label for="userEmail" class="form-control-label">Почта *:</label>
                            <input
                                type="email"
                                class="form-control"
                                name="email"
                                id="userEmail"
                                v-model="email"
                            >
                        </div>

                        <div class="form-group">
                            <label for="userRole" class="form-control-label">Роль *:</label>
                            <select
                                class="form-control"
                                name="role"
                                id="userRole"
                                v-model="role_id"
                            >
                                <option
                                    v-for="role in roles"
                                    v-bind:key="role.id"
                                    :value="role.id"
                                >{{ role.name }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="userPassword" class="form-control-label">Пароль *:</label>
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                id="userPassword"
                                v-model="password"
                            >
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Создать">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            name: '',
            surname: '',
            email: '',
            password: '',
            roles: [],
            role_id: '',
            errors: [],
        };
    },
    mounted: function () {
        this.getRoles();
    },
    methods: {
        createUser: function () {
            axios
                .post('/api/users?token=' + this.$store.state.user.token, {
                    name: this.name,
                    surname: this.surname,
                    email: this.email,
                    password: this.password,
                    role_id: this.role_id
                })
                .then((response) => {
                    $('#createUserModal').modal('hide');
                    this.name = '';
                    this.surname = '';
                    this.email = '';
                    this.password = '';
                    this.role_id = '';
                    this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                    });
                    this.$emit('create-user');
                })
                .catch((error) => {
                     this.errors = error.response.data.errors;
                });
        },
        getRoles: function () {
            axios
                .get('/api/roles?token=' + this.$store.state.user.token)
                .then((response) => {
                    this.roles = response.data.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    },
}
</script>
