<template>
    <div class="comments__form"
        v-if="user"
    >
        <div class="comments__form-title">Добавить отзыв</div>
        <form
            v-on:submit.prevent="addComment"
        >
            <div
                class="errors"
                v-if="errors"
            >
                <div
                    v-for="(v, k) in errors" :key="k"
                >
                    <div
                        class="alert alert-danger alert-dismissible"
                        role="alert"
                        v-for="error in v" :key="error"
                    >
                        {{ error }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Оценка:</label>
                <input
                    type="number"
                    class="form-control"
                    min="1"
                    max="5"
                    v-model="rating"
                >
            </div>
            <div class="form-group">
                <label for="comment">Комментарий:</label>
                <textarea
                    class="form-control"
                    rows="5"
                    v-model="text"
                ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <div
        class="comments__form--unauthorized"
        v-else
    >
        <router-link to="/login">Необходимо войти чтобы оставлять отзывы.</router-link>
    </div>
</template>

<script>
export default {
    props: {
        selectedBookId: 0,
    },
    data: function () {
        return {
            text: '',
            rating: '',
            user: this.$store.state.user.isLoggedIn ? this.$store.state.user.info : false,
            errors: []
        };
    },
    methods: {
        addComment: function () {
            axios
                .post('/api/customer/add_comment?token=' + this.$store.state.user.token, {
                    text: this.text,
                    rating: this.rating,
                    book_id: this.selectedBookId,
                    user_id: this.user.id
                })
                .then((response) => {
                    this.text = '';
                    this.rating = '';
                    this.errors = [];
                    this.$notify({
                        group: 'main',
                        type: 'success',
                        title: 'Успешно',
                        text: response.data.message
                    });
                    this.$emit('create-comment', {comment: response.data.data});
                })
                .catch((error) => {
                    if (error.response.status == 403) {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: error.response.data.errors.message[0]
                        });
                    } else {
                        this.errors = error.response.data.errors;
                    }
                });
        }
    }
}
</script>
