<template>
    <div class="modal fade take-book-modal" id="takeBookModal" tabindex="-1" role="dialog" aria-labelledby="takeBookModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form
                    v-on:submit.prevent="takeBook"
                >
                    <div class="modal-header">
                        <h4 class="modal-title">Принять книгу</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">

                        <div
                            class="errors"
                            v-if="errors"
                        >
                            <div
                                v-for="(v, k) in errors" :key="k"
                            >
                                <div
                                    class="alert alert-danger alert-dismissible"
                                    role="alert"
                                    v-for="error in v" :key="error"
                                >
                                    {{ error }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="takeBookId" class="form-control-label">Книга:</label>
                            <input
                                id="takeBookId"
                                class="form-control"
                                type="text"
                                disabled
                                v-model="selectedBook.name">
                        </div>

                        <div class="form-group">
                            <label for="takeBookUserId" class="form-control-label">Клиент:</label>
                            <input
                                id="takeBookUserId"
                                class="form-control"
                                type="text"
                                disabled
                                v-model="userInfo">
                        </div>


                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Принять">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        selectedBook: {},
        selectedUser: 0,
    },
    data: function () {
        return {
            userId: this.selectedUser,
            user: {},
            errors: [],
        }
    },
    watch: {
        selectedUser: function (updatedUserId) {
            this.getUser(updatedUserId);
        }
    },
    computed: {
        userInfo: function() {
            return `${this.user.name} (${this.user.email})`;
        }
    },
    methods: {
        getUser: function(id) {
            axios
                .get('/api/librarian/users/'+id+'?token=' + this.$store.state.user.token)
                .then((response) => {
                    this.user = response.data.data;
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
        takeBook: function () {
            axios
                .post('/api/librarian/books/take?token=' + this.$store.state.user.token, {
                    user_id: this.user.id,
                    book_id: this.selectedBook.id,
                })
                .then((response) => {
                    if (response.data.success) {
                        this.$notify({
                            group: 'main',
                            type: 'success',
                            title: 'Успешно',
                            text: response.data.message
                        });
                        this.$emit('take-book');
                    } else {
                        this.$notify({
                            group: 'main',
                            type: 'warn',
                            title: 'Ошибка',
                            text: response.data.message
                        });
                    }
                    $('#takeBookModal').modal('hide');
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
    }

}
</script>
